@model IEnumerable<BackEnd.Models.Institution>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
   
        <td>
            @if (item.UserPhoto != null)
            {
                var base64 = Convert.ToBase64String(item.UserPhoto);
                var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@ImgSource" width="100" height="100" />
            }
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.InstitutionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InstitutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InstitutionID })*@


            @Html.ActionLink("Downlaod File", "DownLoadFile", new { id = item.InstitutionID })<br />
            <a href="@Url.Action("Approve", "Institutions",new { id = item.InstitutionID })" onclick="return confirm('Are you sure you want to Approve, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Approve" class="btn btn-success btn-simple btn-xs"><i class="fa fa-check-square-o"></i></a>
            <a href="@Url.Action("Reject", "Institutions",new { id = item.InstitutionID })" onclick="return confirm('Are you sure you want to Reject, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Reject" class="btn btn-danger btn-simple btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
}

</table>
